<div class="field">
  <label class="label"><%= label %></label>
  <div class="control">
    <input class="input" type="<%= type %>" name="<%= name %>" placeholder="<%= placeholder %>" <% if (value) { %>value="<%= value %>" <% } %> <% if (required) { %>required<% } %>>
  </div>
</div>