<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= title %></title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@1.0.0/css/bulma.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" integrity="sha512-..." crossorigin="anonymous" />
  <style>
    .form-container {
      max-width: 600px;
      margin: 0 auto;
    }
  </style>
</head>
<body>
  <%- include('_navbar') %>
  <section class="section">
    <div class="container form-container">
      <h1 class="title"><%= title %></h1>
      <form action="/add" method="post">
        <%- include('_movie-field', { label: 'Movie Title', type: 'text', name: 'title', placeholder: 'Movie Title', required: true, value: null }) %>
        <%- include('_movie-field', { label: 'Image URL', type: 'text', name: 'img', placeholder: 'Image URL', value: null, required: true }) %>
        <%- include('_movie-field', { label: 'Director', type: 'text', name: 'director', placeholder: 'Director', required: true, value: null }) %>
        <%- include('_movie-field', { label: 'Description', type: 'text', name: 'description', placeholder: 'Description', value: null, required: true }) %>
        <%- include('_movie-field', { label: 'Year', type: 'number', name: 'year', placeholder: 'Year', required: true, value: null }) %>
        <%- include('_movie-field', { label: 'Runtime', type: 'number', name: 'runtime', placeholder: 'Runtime', required: true, value: null }) %>
        <%- include('_genres-checkboxes', { checkedGenres: [] }) %>
        <div class="field">
          <div class="control">
            <button class="button is-primary is-link" type="submit">Add Movie</button>
          </div>
        </div>
      </form>
    </div>
  </section>
</body>
</html>