<div class="container form-container">
  <h1 class="title"><%= title %></h1>
  <form action="/update/<%= movie.id %>" method="post">
    <%- include('_movieField', { label: 'Movie Title', type: 'text', name: 'title', placeholder: 'Movie Title', value: movie.title, required: true }) %>
    <%- include('_movieField', { label: 'Image URL', type: 'text', name: 'img', placeholder: 'Image URL', value: movie.img, required: true }) %>
    <%- include('_movieField', { label: 'Director', type: 'text', name: 'director', placeholder: 'Director', value: movie.director, required: true }) %>
    <%- include('_movieField', { label: 'Description', type: 'text', name: 'description', placeholder: 'Description', value: movie.description, required: true }) %>
    <%- include('_movieField', { label: 'Year', type: 'number', name: 'year', placeholder: 'Year', value: movie.year, required: true }) %>
    <%- include('_movieField', { label: 'Runtime', type: 'number', name: 'runtime', placeholder: 'Runtime', value: movie.runtime, required: true }) %>
    <%- include('_genresCheckboxes', { checkedGenres: movie.genre }) %>
    <div class="field">
      <div class="control">
        <button class="button is-primary is-link" type="submit">Update</button>
      </div>
    </div>
  </form>
</div>