<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= title %></title>
  <link
  rel="stylesheet"
  href="https://cdn.jsdelivr.net/npm/bulma@1.0.0/css/bulma.min.css"
  >
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" integrity="sha512-..." crossorigin="anonymous" />
  <style>
    .card-content {
        min-height: 200; /* Ensures consistent card height */
    }
  </style>
</head>
<body>
  <%- include('_navbar') %>
  <section class="section">
    <div class="container">
        <div class="level">
          <div class="level-left">
            <div class="level-item">
              <h1 class="title">Top Movies</h1>
            </div>
          </div>
          <div class="level-right">
            <div class="level-item">
              <a href="/addMovie">
                <button class="button is-light is-fullwidth">
                  <span class="icon is-small">
                    <i class="fas fa-plus"></i>
                  </span>
                  <span>Add movie</span>
                </button>
              </a>
            </div>
          </div>
        </div>
        <div class="columns is-multiline">
            <% movies.forEach(movie => { %>
              <div class="column is-one-third">
                <div class="card movie-card">
                  <div class="card-image">
                    <figure class="image is-3by4">
                      <img src="https://via.placeholder.com/480x640" alt="Placeholder image">
                    </figure>
                  </div>
                  <div class="card-content">
                    <div class="content">
                      <p class="title is-4"><%= movie.title %></p>
                      <p>
                        <% (movie.genre ?? []).forEach(genre => { %>
                          <span class="tag is-dark"><%= genre %></span>
                        <% }) %>
                      </p>
                      <p><strong><%= movie.year %></strong></p>
                      <% if (movie.rating) { %>
                        <p>
                          <span class="icon">
                            <i class="fas fa-star" style="color: #FFD43b"></i>
                          </span>
                          <strong><%= movie.rating %></strong>
                        </p>
                      <% } else { %>
                        <p>
                          <span class="icon">
                            <i class="far fa-star"></i>
                          </span>
                          <strong>No rating</strong>
                        </p>
                      <% } %>
                    </div>
                    <div class="columns">
                      <div class="column">
                        <a href="/movie/<%= movie.id %>">
                          <button class="button is-fullwidth">
                            <span>Details</span>
                            <span class="icon is-small">
                              <i class="fas fa-info-circle"></i>
                            </span> 
                          </button>
                        </a>
                      </div>
                      <div class="column">
                        <button class="button is-link is-fullwidth">
                          <span>Watchlist</span>
                          <span class="icon is-small">
                            <i class="fas fa-bookmark"></i>
                          </span>
                        </button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            <% }) %>
        </div>
    </div>
</section>
</body>
</html>