<div class="columns is-vcentered is-flex is-align-items-stretch">
  <div class="column">
    <div class="card movie-card">
      <div class="columns is-gapless">
        <div class="column is-one-quarter">
          <div class="card-image">
            <figure class="image is-2by3" style="height: 100%; margin: 0;">
              <img src="<%= movie.img %>" alt="Placeholder image" style="object-fit: cover; height: 100%;">
            </figure>
          </div>
        </div>
        <div class="column">
          <div class="card-content">
            <div class="content">
              <div class="columns is-vcentered">
                <div class="column">
                  <p class="title is-4"><%= movie.title %></p>
                </div>
                <% if (userId && movie.user_id === userId) { %>
                <div class="column is-one-third">
                  <div class="columns">
                    <div class="column">
                      <a href="/delete/<%= movie.id %>">
                        <button class="button is-fullwidth is-danger is-outlined">
                          <span>Delete</span>
                          <span class="icon is-small">
                            <i class="fas fa-trash-alt"></i>
                          </span> 
                        </button>
                      </a>
                    </div>
                    <div class="column">
                      <a href="/edit/<%= movie.id %>">
                        <button class="button is-fullwidth">
                          <span>Edit</span>
                          <span class="icon is-small">
                            <i class="far fa-edit"></i>
                          </span> 
                        </button>
                      </a>
                    </div>
                  </div>
                </div>
                <% } %>
              </div>
              <% (movie.genre ? movie.genre.split(', ') : []).forEach(genre => { %>
                <span class="tag is-dark"><%= genre %></span>
              <% }) %>
              </p>
              <% if (movie.rating) { %>
                <p>
                  <span class="icon">
                    <i class="fas fa-star" style="color: #FFD43b"></i>
                  </span>
                  <strong><%= movie.rating %></strong>
                </p>
              <% } else { %>
                <p>
                  <span class="icon">
                    <i class="far fa-star"></i>
                  </span>
                  <strong>No rating</strong>
                </p>
              <% } %>
              <p>Year: <strong><%= movie.year %></strong></p>
              <p>Runtime: <strong><%= movie.runtime %> min</strong></p>
              <p>Director: <strong><%= movie.director %></strong></p>
              <p>Description: <strong><%= movie.description %></strong></p>
            </div>
            <div class="columns">
              <div class="column">
                <%- include('_watchlistButton', { id: movie.id, inWatchlist: inWatchlist }) %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>